

.signIn-background {
   height: 100vh; 
   background: url(SignInBackground.jpg) no-repeat center center fixed; 
   margin: 0;
   padding: 0;
 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: sans-serif;


   

}

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 4px;
    border-style: solid;
    border-color: #A1E0FF;
   
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color:white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.login-box a:hover
{
    color: #39dc79;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px; 
    border: 1px solid transparent;
}
.button {
    
    border: none;
    outline: none;
    height: 40px;
    background: #A1E0FF;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%; 
    margin: auto; 
    
}
::placeholder {
    color: white;
    opacity: 50%; 
}





























































