* {
    margin: 0;
    padding: 0;  
}

.entry-body {
    font-family: Calibri, sans-serif; 
}

.background-wrap {
     position: fixed; 
     z-index: -1000;
     width: 100%; 
     height: 100%; 
     overflow: hidden; 
     top: 0; 
     left: 0; 


}

#video-bg-elm {
        position: absolute; 
        top: 0; 
        left: 0; 
        min-height: 100%; 
        min-width: 100%; 

}

.content {
    position: absolute; 
    width: 100%; 
    min-height: 100%; 
    z-index: 1000;
    background-color: rgba(0,0,0,0.1)
}

.content h1 {
    text-align: center;
    font-size: 50px; 
    text-transform: uppercase;
    font-weight: 300; 
    color: #fff; 
    padding-top: 15%; 
    margin-bottom: 10px; 
}

.content p {
    text-align: center; 
    font-size: 30px; 
    letter-spacing: 3px; 
    color: rgba(255, 255, 255, 0.74); 

}

.entry-button {
        
    border: none;
    outline: none;
    height: 40px;
    background: #A1E0FF;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 10%; 
    margin: auto; 
    text-align: center;
    align-items: center; 
    display: flex;
    justify-content: center;
}